<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
<title>System Boot</title>
</head>
<body>
	<h2 th:text="'System Boot Result: ' + ${result}"></h2>
	<h2 th:inline="text">Aircraft Enqueue List</h2>
	<table>
		<tr>
			<th>Id</th>
			<th>Name</th>
			<th>Type</th>
			<th>Size</th>
			<th>Enqueue Time</th>
			<th>Dequeue Time</th>
		</tr>
		<th:block th:each="ac : ${enqueuedList}">
			<tr>
				<td th:text="${ac.id}"></td>
				<td th:text="${ac.name}"></td>
				<td th:text="${ac.type}"></td>
				<td th:text="${ac.size}"></td>
				<td th:text="${ac.enqueueTime}"></td>
			</tr>
		</th:block>
	</table>
</body>
</html>